/* line 12, ../../../../sass/SpotifyLector/base.scss */
html, body {
  background-color: #262322;
  height: 98%;
}

/* * {
  background-color: rgba(0,0,0,0.1);
}
*/
/* line 24, ../../../../sass/SpotifyLector/base.scss */
#body {
  display: flex;
  flex-direction: column;
  width: 85%;
  height: 100%;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}

/* line 37, ../../../../sass/SpotifyLector/base.scss */
#body p, h2 {
  color: white;
  font-family: 'Open Sans', 'sans-serif';
  font-weight: 900;
  line-height: 1.75;
}

/* line 46, ../../../../sass/SpotifyLector/base.scss */
header {
  display: flex;
  width: 100%;
  justify-content: space-around;
  font-family: 'Open Sans', 'sans-serif';
  font-size: 275%;
  font-weight: 900;
  color: #74A82A;
  text-shadow: 0 1px 1px #666666;
  text-transform: uppercase;
  overflow: visible;
  padding: 10px 0;
  margin-bottom: 15px;
}
