/* line 20, ../../../../sass/SpotifyLector/creator.scss */
#body {
  width: 85%;
}

/* line 24, ../../../../sass/SpotifyLector/creator.scss */
#content {
  width: 75%;
}
/* line 28, ../../../../sass/SpotifyLector/creator.scss */
#content .genre {
  display: flex;
  flex-direction: column;
}
/* line 31, ../../../../sass/SpotifyLector/creator.scss */
#content .genre .column {
  display: inline-flex;
  justify-content: center;
}
/* line 35, ../../../../sass/SpotifyLector/creator.scss */
#content .genre #first a:first-child, #content .genre #more-second a:first-child {
  color: #54A1BF;
  border-color: #54A1BF;
}
/* line 39, ../../../../sass/SpotifyLector/creator.scss */
#content .genre #first a:nth-child(2), #content .genre #more-first a:first-child {
  color: #FF846B;
  border-color: #FF846B;
}
/* line 43, ../../../../sass/SpotifyLector/creator.scss */
#content .genre #first a:nth-child(3), #content .genre #more-third a:first-child {
  color: #57D084;
  border-color: #57D084;
}
/* line 48, ../../../../sass/SpotifyLector/creator.scss */
#content .genre #second a:first-child, #content .genre #more-first a:nth-child(3) {
  color: #FFA94C;
  border-color: #FFA94C;
}
/* line 52, ../../../../sass/SpotifyLector/creator.scss */
#content .genre #second a:nth-child(2), #content .genre #more-third a:nth-child(2) {
  color: #3584A3;
  border-color: #3584A3;
}
/* line 56, ../../../../sass/SpotifyLector/creator.scss */
#content .genre #second a:nth-child(3), #content .genre #more-second a:nth-child(2) {
  color: #E94725;
  border-color: #E94725;
}
/* line 61, ../../../../sass/SpotifyLector/creator.scss */
#content .genre #third a:first-child, #content .genre #more-fourth a:first-child {
  color: #FF6B4C;
  border-color: #FF6B4C;
}
/* line 65, ../../../../sass/SpotifyLector/creator.scss */
#content .genre #third a:nth-child(2), #content .genre #more-first a:nth-child(2) {
  color: #1BA950;
  border-color: #1BA950;
}
/* line 69, ../../../../sass/SpotifyLector/creator.scss */
#content .genre #third a:nth-child(3), #content .genre #more-second a:nth-child(3) {
  color: #FFC98F;
  border-color: #FFC98F;
}
/* line 74, ../../../../sass/SpotifyLector/creator.scss */
#content .genre #fourth a:first-child, #content .genre #more-fourth a:last-child {
  color: #B0DDEE;
  border-color: #B0DDEE;
}
/* line 78, ../../../../sass/SpotifyLector/creator.scss */
#content .genre #fourth a:nth-child(2), #content .genre #more-fourth a:nth-child(2) {
  color: #E98B25;
  border-color: #E98B25;
}
/* line 82, ../../../../sass/SpotifyLector/creator.scss */
#content .genre #fourth a:nth-child(3), #content .genre #more-third a:nth-child(3) {
  color: #38BB69;
  border-color: #38BB69;
}
/* line 87, ../../../../sass/SpotifyLector/creator.scss */
#content .genre .button-genre {
  text-transform: uppercase;
}
/* line 90, ../../../../sass/SpotifyLector/creator.scss */
#content .genre .button-genre.principal, #content .genre .button-genre.more {
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  color: #fff;
  width: 160px;
  padding: 15px 10px;
  margin: 5px;
  border: 1px solid #fff;
  border-radius: 5px;
}
/* line 103, ../../../../sass/SpotifyLector/creator.scss */
#content .genre .button-genre.more {
  display: none;
}
/* line 107, ../../../../sass/SpotifyLector/creator.scss */
#content .genre .button-more {
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  color: #fff;
  width: 160px;
  padding: 15px 10px;
  margin: 5px;
  border: 1px solid #fff;
  border-radius: 5px;
}
/* line 122, ../../../../sass/SpotifyLector/creator.scss */
#content .ranges {
  display: flex;
  flex-direction: column;
}
/* line 126, ../../../../sass/SpotifyLector/creator.scss */
#content .ranges .row {
  margin: 14px;
}
/* line 129, ../../../../sass/SpotifyLector/creator.scss */
#content .ranges ul.row-label {
  color: #fff;
  width: 333px;
  margin: auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
/* line 136, ../../../../sass/SpotifyLector/creator.scss */
#content .ranges ul.row-label li {
  display: inline;
  justify-content: space-between;
}
/* line 142, ../../../../sass/SpotifyLector/creator.scss */
#content .ranges input {
  width: 333px;
  margin: auto;
}
/* line 146, ../../../../sass/SpotifyLector/creator.scss */
#content .ranges input[type="range"] {
  display: flex;
  -webkit-appearance: none;
  background: transparent;
  margin-bottom: 20px;
}
/* line 154, ../../../../sass/SpotifyLector/creator.scss */
#content .ranges input[type=range]:focus {
  outline: none;
}
/* line 158, ../../../../sass/SpotifyLector/creator.scss */
#content .ranges input[type=range]::-ms-track {
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
/* line 164, ../../../../sass/SpotifyLector/creator.scss */
#content .ranges input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 36px;
  width: 16px;
  border: 1px solid #000000;
  border-radius: 3px;
  background: #74A82A;
  cursor: pointer;
  margin-top: -14px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
/* line 176, ../../../../sass/SpotifyLector/creator.scss */
#content .ranges input[type="range"]::-webkit-slider-runnable-track {
  margin: auto;
  width: 50%;
  cursor: pointer;
  height: 10px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #333333;
  border-radius: 5px;
  border: 0.2px solid #010101;
}
/* line 187, ../../../../sass/SpotifyLector/creator.scss */
#content #buttonCreate {
  margin: 20px;
  display: flex;
  justify-content: center;
}
/* line 193, ../../../../sass/SpotifyLector/creator.scss */
#content .buttonCreate {
  background-color: #74A82A;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  border-radius: 40px;
  padding: 30px 50px;
  border-style: none;
  color: white;
  font-size: 1.5em;
  font-weight: 800;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}
/* line 208, ../../../../sass/SpotifyLector/creator.scss */
#content .buttonCreate:hover {
  background-color: #446001;
  color: #fff;
  cursor: pointer;
}
