@import '../../../../.gem/ruby/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/css3';

$title-color: #74A82A;
$background-color :#262322;
$foreground-color:#74A82A;
$distance:8px;
$cut-distance:3px;
$strips-size:6px;
$strips-ratio:50%;
$strips-angle:45deg;

html,body {
    background-color: $background-color;
    height:98%;

}


/* * {
  background-color: rgba(0,0,0,0.1);
}
*/

#body {
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 100%;
    margin: auto;
    align-items: center;
    justify-content: space-between;


}

#body p,h2 {
    color : white;
    font-family: 'Lato',sans-serif;
    text-align: center;
    font-weight: 900;
}



header {
    display: flex;
    width: 100%;
    justify-content: space-around;
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
    font-size: 275%;
    font-weight: 900;
    color:$title-color;
    text-shadow: 0 1px 1px #666666;
    text-transform: uppercase;
    overflow: visible;
    padding: 10px 0;
    margin-bottom: 15px;
}



